html {
    background: #856357;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
  color: #b56357;
  font-family: Arial;
  font-weight: normal;
}

.anleitung {
    color: white;
    background: #b56357;
    border-radius: 25px;
    border-style: solid;
    padding: 45px;
    
}

.preselection {
    color: white;
    background: #B4dbc0;
    border-radius: 25px;
    border-style: solid;
    padding: 45px;
    
}

.preselection select {
    color: white;
    background: #8ABF91;
    width: 120px;
    font-size: 16px;
    border: 0;
    border-radius: 0; 
}

.preselection input {
    color: white;
    background: #8ABF91;
    width: 300px;
    font-size: 16px;
    border: 0;
    border-radius: 0;    
}

.preselection label {
    color: #;
    margin-right: 5px;
    font-weight: normal;
}

//#856357 Rust #B4dbc0 #eAe3ea #a7b3a5 C2B2C0 C2BCB2